* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(30deg, lightcyan, lightyellow);
  /* background-image: linear-gradient(120deg, lightcyan 0%, turquoise 30%); */
  color: gray;
  font-family: 'Dela Gothic One', cursive;
  display: flex;
  justify-content: center;
  padding:30px;  
}

#todo-list-container {
  min-width: 700PX;
  display: flex;
  flex-direction: column;
}

#input-form, #todo-container {
  display: flex;
  /* justify-content: center; */
  padding: 20px;  
}

#input {
  max-width: 350px;
  width: 300px;
  outline: 3px solid turquoise;
}

ul {
  list-style: none;
  font-size: 1.5em;
}

.checked {
  text-decoration: line-through;
}